{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": false,
  "semi": false,
  "wrapAttributes": false,
  "sortAttributes": false,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "singleAttributePerLine": false,
  "embeddedLanguageFormatting": "auto"
}