:root {
  --link-color: blue;
  --bg-color: #fff;
  --boder-color: #dcdcdc;
  --text-color: #333;
  --font-size: 14px;
}
/* 深色 */
@media (prefers-color-scheme: dark) {
  :root {
    --main-color: #dcdcdc;
  }
}
/* 浅色 */
@media (prefers-color-scheme: light) {
  :root {
    --main-color: #fff;
  }
}
